@font-face {
  font-family: 'TimesNewRomanPSBoldMT';
  src: url("../fonts/TimesNewRomanPSBoldMT.ttf") format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-weight: 400;
  font-display: swap;
}
